<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/0628264057.js" crossorigin="anonymous"></script>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home.css') }}"
    />
    <style type="text/css">
      .graph-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
      }
      .graph {
        width: calc(50% - 10px); /* Adjust width to 50% minus margin */
        margin-bottom: 20px; /* Add some margin between rows */
      }
      .graph canvas {
        width: 75%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <section>
      <div class="nav-container">
        <div class="theme-toggle">
          <img
            id="SP"
            src="{{ url_for('static', filename='img/download.png') }}"
          />
        </div>
        <div id="Title">CNC Dashboard</div>
        <ul class="links">
          <li class="notification-container">
            <i id="notification-icon" class="fas fa-bell notification-icon"></i>
            <div id="notification-popup" class="notification-popup">
              <span class="close-btn" onclick="togglePopup()">&times;</span>
              <div id="error-messages">
              <p>No new notifications.</p>
              </div>
            </div>
          <li><a href="#Motor_x" class="nav-item" id="nav-motorX">Motor X</a></li>
          <li>•</li>
          <li><a href="#Motor_y" class="nav-item" id="nav-motorY">Motor Y</a></li>
          <li>•</li>
          <li><a href="#Motor_z" class="nav-item" id="nav-motorZ">Motor Z</a></li>
          <li>•</li>
          <li><a href="#spindle" class="nav-item" id="nav-Spindle">Spindle</a></li>
          <li>•</li>
          <li><a href="#" onclick="openSettings()">Settings</a></li>
          </li>
        </ul>
      </div>
    <div class="overlay">
      <div id="notificationBox">
          <p id="emergency-text">Emergency Stop Activated!</p>
      </div>
    </div>
    <div id="settingsModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeSettings()">&times;</span>
        <h2>Settings</h2>
        <label for="darkModeCheckbox">Dark Mode:</label>
        <input
          type="checkbox"
          id="darkModeCheckbox"
          onchange="toggleDarkMode()"
        />
        <br />
        <button class="download-button" onclick="downloadMongoDBDataCSV()">
          Download Data
        </button>
      </div>
    </div>

    <br>
    <h1 id="Motor_x"></h1>
    <h1 class="heading">Motor X</h1>
    <section class="graph-container monkey">
      <div class="graph">
        <h1 class="heading">Current</h1>
        <div class="canvas-holder">
          <canvas id="myGraph1"></canvas>
        </div>
      </div>
      <div class="graph">
        <h1 class="heading">MaxCurrent</h1>
        <div class="canvas-holder">
          <canvas id="myGraph2"></canvas>
        </div>
      </div>
      <div class="graph">
        <h1 class="heading">Cycle Count</h1>
        <div class="canvas-holder">
          <canvas id="myGraph3"></canvas>
        </div>
      </div>
      <div class="graph">
        <h1 class="heading">ScaPos1</h1>
        <div class="canvas-holder">
          <canvas id="myGraph4"></canvas>
        </div>
      </div>
    </section>

    <h1 id="Motor_y"></h1>
    <h1 class="heading">Motor Y</h1>
    <section class="graph-container">
      <div class="graph">
        <h1 class="heading">Current</h1>
        <div class="canvas-holder">
          <canvas id="myGraph5"></canvas>
        </div>
      </div>
      <div class="graph">
        <h1 class="heading">MaxCurrent</h1>
        <div class="canvas-holder">
          <canvas id="myGraph6"></canvas>
        </div>
      </div>
      <div class="graph">
        <h1 class="heading">Cycle Count</h1>
        <div class="canvas-holder">
          <canvas id="myGraph7"></canvas>
        </div>
      </div>
      <div class="graph">
        <h1 class="heading">ScaPos2</h1>
        <div class="canvas-holder">
          <canvas id="myGraph8"></canvas>
        </div>
      </div>
    </section>

    <h1 id="Motor_z"></h1>
    <h1 class="heading">Motor Z</h1>
    <section class="graph-container">
      <div class="graph">
        <h1 class="heading">Current</h1>
        <div class="canvas-holder">
          <canvas id="myGraph9"></canvas>
        </div>
      </div>
      <div class="graph">
        <h1 class="heading">MaxCurrent</h1>
        <div class="canvas-holder">
          <canvas id="myGraph10"></canvas>
        </div>
      </div>
      <div class="graph">
        <h1 class="heading">Cycle Count</h1>
        <div class="canvas-holder">
          <canvas id="myGraph11"></canvas>
        </div>
      </div>
      <div class="graph">
        <h1 class="heading">ScaPos3</h1>
        <div class="canvas-holder">
          <canvas id="myGraph12"></canvas>
        </div>
      </div>
    </section>

    <h1 id="spindle" class="heading">Spindle</h1>
    <section class="graph-container">
      <div class="graph">
        <h1 class="heading">Cycle Count</h1>
        <div class="canvas-holder">
          <canvas id="myGraph13"></canvas>
        </div>
      </div>
      <div class="graph">
        <h1 class="heading">Droop</h1>
        <div class="canvas-holder">
          <canvas id="myGraph14"></canvas>
        </div>
      </div>
      <div class="graph">
        <h1 class="heading">Gain</h1>
        <div class="canvas-holder">
          <canvas id="myGraph15"></canvas>
        </div>
      </div>
      <div class="graph">
        <h1 class="heading">Load</h1>
        <div class="canvas-holder">
          <canvas id="myGraph16"></canvas>
        </div>
      </div>
    </section>
    <script>

document.addEventListener('DOMContentLoaded', function() {
    const sections = document.querySelectorAll('.motor-section');
    const navItems = document.querySelectorAll('.nav-item');

    function removeActiveClasses() {
        navItems.forEach(item => {
            item.classList.remove('active');
        });
    }

    function addActiveClass(id) {
        const activeNavItem = document.querySelector(`#nav-${id}`);
        if (activeNavItem) {
            activeNavItem.classList.add('active');
        }
    }

    function onScroll() {
    let currentSectionId;

    sections.forEach(section => {
        const sectionTop = section.offsetTop;
        const sectionHeight = section.clientHeight;

        if (pageYOffset >= sectionTop - sectionHeight / 3) {
            currentSectionId = section.getAttribute('id');
        }
    });

    if (currentSectionId) {
        removeActiveClasses();
        addActiveClass(currentSectionId);
        // Add this line to highlight the corresponding navbar item
        document.querySelector(`a[href="#${currentSectionId}"]`).classList.add('active');
    }
  }

    window.addEventListener('scroll', onScroll);
  });

  function removeActiveClasses() {
    navItems.forEach(item => {
        item.classList.remove('active');
    });
}
      // Function to open the settings modal
      function openSettings() {
        var modal = document.getElementById("settingsModal");
        modal.style.display = "block";
      }

      // Function to close the settings modal
      function closeSettings() {
        var modal = document.getElementById("settingsModal");
        modal.style.display = "none";
      }

      // Close the modal if the user clicks outside of it
      window.onclick = function (event) {
        var modal = document.getElementById("settingsModal");
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };

      function toggleDarkMode() {
  var darkModeCheckbox = document.getElementById("darkModeCheckbox");
  var body = document.body;
  var spImage = document.getElementById("SP");
  body.classList.toggle("dark-mode");


  if (darkModeCheckbox.checked) {
    body.classList.add("dark-mode");
    spImage.src = "{{ url_for('static', filename='img/sp_logo.png') }}"; // Update source for dark mode

    // Update chart colors for dark mode
    charts.forEach(function(chart) {
      chart.options.scales.x.title.color = '#fff'; // White color for x-axis title
      chart.options.scales.x.ticks.color = '#fff'; // White color for x-axis tick marks
      chart.options.scales.x.grid.color = 'rgba(255, 255, 255, 0.6)'; // Light white color for x-axis grid lines
      chart.options.scales.x.grid.borderColor = 'rgba(255, 255, 255, 0.8)'; // Light white color for x-axis border

      chart.options.scales.y.title.color = '#fff'; // White color for y-axis title
      chart.options.scales.y.ticks.color = '#fff'; // White color for y-axis tick marks
      chart.options.scales.y.grid.color = 'rgba(255, 255, 255, 0.6)'; // Light white color for y-axis grid lines
      chart.options.scales.y.grid.borderColor = 'rgba(255, 255, 255, 0.8)'; // Light white color for y-axis border

      chart.update();
    });
  } else {
    body.classList.remove("dark-mode");
    spImage.src = "{{ url_for('static', filename='img/download.png') }}"; // Update source for light mode

    // Revert chart colors to default for light mode
    charts.forEach(function(chart) {
      chart.options.scales.x.title.color = '#333'; // Dark gray color for x-axis title
      chart.options.scales.x.ticks.color = '#555'; // Dark gray color for x-axis tick marks
      chart.options.scales.x.grid.color = 'rgba(200, 200, 200, 0.6)'; // Light gray color for x-axis grid lines
      chart.options.scales.x.grid.borderColor = 'rgba(180, 180, 180, 0.8)'; // Light gray color for x-axis border

      chart.options.scales.y.title.color = '#333'; // Dark gray color for y-axis title
      chart.options.scales.y.ticks.color = '#555'; // Dark gray color for y-axis tick marks
      chart.options.scales.y.grid.color = 'rgba(200, 200, 200, 0.6)'; // Light gray color for y-axis grid lines
      chart.options.scales.y.grid.borderColor = 'rgba(180, 180, 180, 0.8)'; // Light gray color for y-axis border

      chart.update();
    });
  }
}

function fetchErrorDataAndUpdatePopup() {
  fetch("/errordata")  // Replace with your actual endpoint
    .then(response => response.json())
    .then(data => {
      var notificationPopup = document.getElementById("notification-popup");
      var notificationIcon = document.getElementById("notification-icon");
      var errorMessagesContainer = document.getElementById("error-messages");
      errorMessagesContainer.innerHTML = ''; // Clear previous error messages

      // Sort errors by timestamp in descending order
      var sortedErrors = data.sort((a, b) => new Date(b.timestamp) - new Date(a.timestamp));
      
      if (sortedErrors.length > 0) {
        // Get the most recent error
        var latestError = sortedErrors[0];
        var errorBox = document.createElement("div");
        errorBox.classList.add("error-box");

        var timestamp = new Date(latestError.timestamp);
        var formattedTimestamp = timestamp.toLocaleString();

        errorBox.innerHTML = `<strong>${formattedTimestamp}:</strong> ${latestError.error}`;
        errorMessagesContainer.appendChild(errorBox);

        notificationPopup.classList.add("active");
        notificationIcon.style.color = "red";
      } else {
        var noErrorsMessage = document.createElement("p");
        noErrorsMessage.innerText = "No new notifications.";
        errorMessagesContainer.appendChild(noErrorsMessage);
        notificationPopup.classList.remove("active");
        notificationIcon.style.color = "black";
      }
    })
    .catch(error => console.error("Error fetching error data:", error));
}


function togglePopup() {
    const popup = document.getElementById('notification-popup');
    popup.classList.toggle('show');
    if (popup.classList.contains('show')) {
        fetchErrorDataAndUpdatePopup(); // Fetch data when the popup is shown
    }
}



// Initial fetch and periodic update of error data
document.getElementById("notification-icon").addEventListener("click", fetchErrorDataAndUpdatePopup);
fetchErrorDataAndUpdatePopup();
setInterval(fetchErrorDataAndUpdatePopup, 5000);

// Function to toggle the notification popup visibility
function togglePopup() {
          const notificationPopup = document.getElementById('notification-popup');
          notificationPopup.style.display = notificationPopup.style.display === 'block' ? 'none' : 'block';
        }

// Event listener for notification icon click event
document.getElementById('notification-icon').addEventListener('click', function() {
  togglePopup();
  fetchErrorDataAndUpdatePopup();
});


// Initial fetch of error data and update of the notification popup
fetchErrorDataAndUpdatePopup();

      function downloadMongoDBDataCSV() {
        window.location.href = "/download_database_csv";
      }

      var emptyData = Array(5).fill(null);
      var charts = [];
      var graphIds = [
        "myGraph1",
        "myGraph2",
        "myGraph3",
        "myGraph4",
        "myGraph5",
        "myGraph6",
        "myGraph7",
        "myGraph8",
        "myGraph9",
        "myGraph10",
        "myGraph11",
        "myGraph12",
        "myGraph13",
        "myGraph14",
        "myGraph15",
        "myGraph16",
      ];
      var maxDataPoints = 5; // Define the maximum number of data points to display

      // Define colors for each set of graphs
      var colors = [
        "rgba(255, 99, 132, 1)", // Red
        "rgba(54, 162, 235, 1)", // Dark Blue
        "rgba(75, 192, 192, 1)", // Dark Green
        "rgba(153, 102, 255, 1)", // Dark Purple
      ];

      graphIds.forEach(function (graphId, index) {
    var ctx = document.getElementById(graphId).getContext("2d");
    var colorIndex = Math.floor(index / 4); // Determine which set of colors to use
    var color = colors[colorIndex]; // Assign color based on the set

    var chart = new Chart(ctx, {
      type: "line",
      data: {
        labels: [],
        datasets: [
          {
            label: "Value",
            data: [], // Initialize with empty data
            backgroundColor: color,
            borderColor: color,
            borderWidth: 1,
          },
        ],
      },
      options: {
    responsive: true,
    maintainAspectRatio: false,
    spanGaps: true,
    scales: {
        x: {
            display: true,
            type: "time",
            parsing: false,
            time: {
                unit: 'second',
                stepSize: 1,
                tooltipFormat: 'dd MMM HH:mm:ss'
            },
            title:{
                display: true,
                text: 'TimeStamp', // Title for x-axis
                font: {
                    size: 14 // Adjust font size if necessary
                }
            },
            grid: {
                    lineWidth: 3, // Make x-axis grid lines thicker
                    tickWidth: 0
            },
            ticks: {
                font: {
                    size: 20 // Adjust font size if necessary
                }
            }
        },
        y: {
            display: true,
            title:{
                display: true,
                text: 'Value', // Title for y-axis
                font: {
                    size: 14 // Adjust font size if necessary
                }
            },
            grid: {
                    lineWidth: 3, // Make x-axis grid lines thicker
                    tickWidth: 0
            },
            ticks: {
                font: {
                    size: 12 // Adjust font size if necessary
                }
            }
        }
    }
  }
      });

    charts.push(chart);
  });


      // Define an object to store the last timestamp for each chart
let lastTimestamps = {};

function fetchData() {
  var nodeKeys = [1, 40, 3, 13, 2, 41, 4, 14, 6, 42, 5, 15, 45, 23, 22, 44];
  nodeKeys.forEach(function (key, index) {
    fetch("/data?NodeKey=" + key)
      .then((response) => response.json())
      .then((data) => {
        if (data[key]) {
          if (data[key].ServerTimeStamp !== lastTimestamps[key]) {
            var timestamp = new Date(data[key].ServerTimeStamp); // Ensure correct date parsing
            charts[index].data.labels.push(timestamp);
            charts[index].data.datasets[0].data.push(data[key].Value);

            if (charts[index].data.labels.length > maxDataPoints) {
              charts[index].data.labels.shift();
              charts[index].data.datasets[0].data.shift();
            }

            charts[index].update();
            lastTimestamps[key] = data[key].ServerTimeStamp;
          }
        }
      })
      .catch(error => console.error("Error fetching data:", error));
  });
}

function errorLog() {
    fetch("/data?NodeKey=74")
        .then((response) => response.json())
        .then((data) => {
            if (data[74] && data[74].Value === 128) {
                showBox();
            } else if (data[74] && data[74].Value === 0) {
                hideBox();
            }
            if (data[74]) {
                console.log("Value of NodeKey 74:", data[74].Value);
            }
        })
        .catch(error => console.error("Error fetching data for NodeKey 74:", error)); // Handle errors
}

 
function showBox() {
    var box = document.getElementById("notificationBox");
    var overlay = document.querySelector(".overlay");
    box.style.display = "block";
    overlay.classList.add("active"); // Add the active class to the overlay
}

function hideBox() {
    var box = document.getElementById("notificationBox");
    var overlay = document.querySelector(".overlay");
    box.style.display = "none";
    overlay.classList.remove("active"); // Remove the active class from the overlay
}


function showTooltip(event) {
            var tooltip = document.getElementById("tooltip");
            tooltip.innerText = event.target.getAttribute("data-tooltip");
            tooltip.style.display = "block";
            tooltip.style.top = event.clientY + 10 + "px";
            tooltip.style.left = event.clientX + 10 + "px";
        }

        function hideTooltip() {
            var tooltip = document.getElementById("tooltip");
            tooltip.style.display = "none";
        }


// Wait one second before fetching data and logging errors
setTimeout(function() {
    // Fetch data initially
    fetchData();
    errorLog();

// Fetch data initially
fetchData();
errorLog(47, "EMG Emergency stop EXIN", "EMG Emergency stop SRV");

// Fetch data every 3 seconds
setInterval(fetchData, 3000);

setInterval(() => {
    errorLog(47, "EMG Emergency stop EXIN", "EMG Emergency stop SRV");
}, 3000); 
    }, 1000);
    </script>
<div id="tooltip" style="position: fixed; background-color: rgba(0, 0, 0, 0.8); color: white; padding: 5px; display: none;"></div>
  </body>
</html>